.MyProfile {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px;
    width: 72%;
    margin: 20px 0;
    height: fit-content;
}

.MyProfile .MyProfile_Title {
    background-color: #BEDDDD;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 0 5px 20px;
    vertical-align: middle;
    border-radius: 4px 4px 0 0;
}

.MyProfile_Content table th {
    padding-left: 20px;
}

.notlogin {
    background-color: #DFF4F6;
    padding: 0 calc(100vw/15);
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notlogin .Notification, .notlogin a {
    font-weight: 500;
    font-size: xx-large;
    text-decoration: none;
}

.notlogin a {
    color: #4EA58B;
    margin-left: 20px
}

.notlogin a:hover {
    color: green;
}

