.container{
    display: flex;
    background-color: #DFF4F6;
    height: 100vh;
    width: 80%;
    margin-left: auto;
}
.customer{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.navbar{
    height: 55px;
    background-color: #bedddd;
    width: 100%;
    box-shadow: 0px 5px 5px 5px #999999;
}
.content{
    display: flex;
    padding: 20px 10px;
    height: 91.5%;
    gap: 20px;
}
.draw{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 40%;
}
.draw_line{
    background-color: white;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    padding-top: 10px;
    animation: fadeInUp 3s forwards;
}
@keyframes fadeInUp {
    from {
      top: -100px; 
      opacity: 0; 
    }
    to {
      top: 200px;
      opacity: 1; 
    }
}
.title{
    font-size: 10px;
    width: 80%;
    display: flex;
    align-items: center;
    text-align: center;
    font-style: italic;
    font-weight: 500;
    margin: auto;
}
.list{
    display: flex;
    width: 80%;
    height: 100%;
    margin: auto;
    flex-direction: column;
}

.table1 {
    max-height: 100%; 
    overflow: auto;  
    position: relative; 
    width: 100%;
}

.table1 table {
    width: 100%;
}

.table1 thead {
    position: sticky;
    top: -2px;
    background-color: #BEDDDD;
    box-shadow: 0px 3px 8px 2px #BEDDDD;    
}
.table1 tbody{
    background-color: white;
}
table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}
.navbar{
    height: 55px;
    background-color: #bedddd;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 5px 5px #999999;
    align-items: center;
    padding: 0 10px;
}
.search{
    display: flex;
    gap: 20px;
    align-items: center;
    position: relative;
}
.search_icon{
    position: absolute;
    right: 0px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.search_icon:hover{
    background-color: #999999;
}
.search_input{
    height: 33px;
    width: 300px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
}
.avatar{
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.user{
    display: flex;
    gap: 50px;
    align-items: center;
}
.notify_icon{
    height: 20px;
    color: black;
    padding: 5px 8px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}
.img_loading{
    height: 50px;
    display: flex;
    margin: auto;
    margin-top: 200px;
}
.error{
    background-color: rgb(232, 230, 230);
    color: red;
    display: flex;
    margin-top: 40px;
}
.num_page {
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 20px;
}
  
.num_page span {
margin: 0 5px;
padding: 5px 10px;
border: 1px solid #ccc;
cursor: pointer;
}
  
.num_page span:hover {
background-color: #f0f0f0;
}
