.login {
    background-color: #DFF4F6;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.form_login {
    height: 70vh;
    width: 40vw;
    background-color: #BEDDDD;
    margin: auto;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 30px 50px;
}

.form_login>span {
    text-transform: uppercase;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item>span {
    font-size: 20px;
    font-weight: 500;
}

.item input {
    height: 36px;
    outline: none;
    padding-left: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}

.item i {
    text-align: end;
    cursor: pointer;
}

.item i span:hover {
    color: orange;
}

.btn button {
    width: 60%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    background-color: #4EA58B;
}

.btn button:hover {
    background-color: green;
}

.btn button span {
    margin: auto;
    font-weight: 500;
    text-transform: uppercase;
}

.btn div {
    text-align: center;
    padding-top: 10px;
}

.btn div a {
    margin-left: 6px;
}

.btn div a:hover {
    color: orange;
}