.container{
    height: 50px;
    background-color: aqua;
    width: 1440px;
    display: flex;
    margin: auto;
    align-items: center;
}
.user{
    display: flex;
    flex-direction: column;
    background-color: red;
}
.avatar{
    display: flex;
    gap: 10px;
}
.img_avatar{
    height: 40px;
    border-radius: 50%;
}
.name{
    font-weight: 600;
}
.infor{
    position: relative;
    display: flex;
    flex-direction: column; 
    gap: 20px;
    background-color: white;
    padding: 20px 10px;
    top: 75px;
    right: 50px;
}