.cart {
    background-color: #DFF4F6;
    padding: 0 calc(100vw/15);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    background-color: #4EA58B !important;
}

button:hover {
    background-color: green !important;
}

.left {
    width: 66%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
}

.customer_info, .product_cart, .pay {
    width: 100%;
    background-color: white;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.title {
    background-color: #BEDDDD;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
    vertical-align: middle;
    border-radius: 4px 4px 0 0;
}

.customer_info table {
   margin: 10px;
}

.customer_info .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.icon_edit:hover, .icon_trash:hover {
    color: green;
    cursor: pointer;
}

.product_cart_content tr {
    border-bottom: 1px dashed #4EA58B;
}

.product_cart_content {
    padding: 0 20px 20px 20px;
}

td, th {
    text-align: left !important;
}

th {
    font-weight: 500;
}

.checkbox {
    border: 1px solid #4EA58B;
}

.item img {
    height: 80px;
}

.product_name {
    font-weight: 500;
}

.new_price {
    font-weight: 500;
    color: #4EA58B;
}

.old_price {
    color: gray;
    text-decoration: line-through;
    font-weight: 300;
    font-size: 12px;
    margin-left: 10px;
}

.count {
    height: 50%;
    width: 80px;
    text-align: center;
}

.right {
    width: 32%;
    margin: 20px 0;
}

.pay_content {
    padding: 20px;
}

.pay_content span{
    font-weight: 500;
    font-size: 20px;
}

form input {
    margin-right: 10px;
}

.voucher_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.voucher_content input, .voucher_content button {
    height: 36px;
    align-items: center;
    display: flex;
}

.voucher_content input {
    padding-left: 10px;
}

.btn {
    align-items: center;
    width: 100%;
    text-align: center;
}

.btn button {
    width: 50%;
}

.notlogin {
    background-color: #DFF4F6;
    padding: 0 calc(100vw/15);
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notlogin .Notification, .notlogin a {
    font-weight: 500;
    font-size: xx-large;
    text-decoration: none;
}

.notlogin a {
    color: #4EA58B;
    margin-left: 20px
}

.notlogin a:hover {
    color: green;
}

.percentDiscount {
    background-color: #B31C1C;
    color: white;
    margin-left: 10px;
    padding: 0 10px;
    border-radius: 4px;
}
.img_loading{
    height: 50px;
    display: flex;
    margin: auto;
    margin-top: 5%;
}
.img_load{
    height: 30px;
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}