.container {
    background-color: #DFF4F6;
}

.footer{
    height: 470px;
    background-color: #BEDDDD;
    margin: 0 calc(100vw/15);
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.col {
    width: 20%;
    padding: 10px;
}

.col b {
    text-transform: uppercase;
}

.col ul {
    list-style: none;
    padding: 10px 0 0 0;
    line-height: 3;
    font-size: 14px;
}

.col li:hover {
    cursor: pointer;
    color: rgb(55, 129, 106);
}