.table1{
    width: 100%;
}
.body{
    width: 100%;
}
table{
    width: 100%;
}
tbody{
    margin-top: 100px;
}
th{
    text-align: center;
}
thead{
    position: sticky;
    top: -15px;
    background-color: gray;
    box-shadow: 0px 3px 8px 2px black;  
    margin-bottom: 50px;
}
.price{
    color: orange;
    font-weight: 500;
}
.img_loading{
    height: 50px;
    display: flex;
    margin: auto;
    margin-top: 100px;
}
.error{
    color: red;
    margin-top: 50px;
}
.infor_item1{

}
.search{
    height: 30px;
    outline:  none;
    border-radius: 5px;
    border: 1px solid gray;
    margin-right: 10px;
    margin-bottom: 20px;
    font-size: 15px;
}
