.container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}
.welcome{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.name{
    font-size: 30px;
    font-weight: 600;
    color: gray;
}
.desc{
    font-size: 18px;
}
.robot{
    height: 100px;
    width: 100px;
    display: flex;
    margin: auto;
    margin-top: 40px;
}
