.MyProfile {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px;
    width: 72%;
    margin: 20px 0;
    height: fit-content;
    position: relative;
}

.MyProfile .MyProfile_Title {
    background-color: #BEDDDD;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 0 5px 20px;
    vertical-align: middle;
    border-radius: 4px 4px 0 0;
}

.MyProfile_Content table th {
    padding-left: 20px;
}

.notlogin {
    background-color: #DFF4F6;
    padding: 0 calc(100vw/15);
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notlogin .Notification, .notlogin a {
    font-weight: 500;
    font-size: xx-large;
    text-decoration: none;
}

.notlogin a {
    color: #4EA58B;
    margin-left: 20px
}

.notlogin a:hover {
    color: green;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2; /* Lớn hơn so với các phần tử khác */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .editForm {
    background-color: white;
    padding: 20px;
    z-index: 3; /* Lớn hơn so với overlay */
    display: grid;
    width: 40%;
  }

  .editForm h3 {
    text-align: center;
    color: rgba(78, 165, 139, 0.863);
  }
  
  .editForm input {
    margin-bottom: 20px;
  }

  .editForm button {
    text-transform: uppercase;
    font-weight: 500;
  }

  .btn_cancel {
    border: 1px solid rgba(78, 165, 139, 0.863) !important;
    background-color: rgba(78, 165, 139, 0.137) !important;
    color: rgba(78, 165, 139, 0.863) !important;
    margin-top: 20px;
  }
