.sidebar_menu {
    display: flex;
    height: 100vh;
    flex-direction: column;
    width: 20%;
    align-items: center;
    box-shadow: 0px 5px 5px 5px #999999;
    background-color: #BEDDDD;
    color: black;
    position: fixed;
    z-index: 999;
}
.sidebar_header{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #BEDDDD;
    box-shadow: 0px 3px 5px 0px gray;
    z-index: 99;
}
.logo{
    display: flex;
    margin: auto;
}
.img_logo{
    height: 50px;
}
.sbar_collapsed .sidebar-menu {
    left: -280px;
}
.main_menu {
    width: 100%;
    overflow-y: auto;
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 0px 20px;
}
.require{
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style: none;
    border-left: 1px solid black;
    padding-left: 20px;
    margin-left: 30px;
    cursor: pointer;
    animation: fadeInUp 2s forwards;
}
@keyframes fadeInUp {
    from {
      top: 0px; 
      opacity: 0; 
    }
    to {
      top: 100px;
      opacity: 1; 
    }
}

.user_icon, .store_icon, .ship_icon, .voucher_icon {
    color: black;
    font-size: 22px;
}

.name{
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-top: 10px;
}
.name_select{
    background-color: blue;
}

.name_item{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: black;
    text-decoration: none;
    margin-left: 20px;
}
.name_item:hover{
    color:  green;
}
.item_require:hover{
    color: green;
}
/* .item_require_name:hover{
    color:  rgb(230, 99, 99);
    border-bottom: 2px solid rgb(230, 99, 99);
} */
.item_require_select{
    color:  green;
    border-bottom: 2px solid green;
}

