.container{
    display: flex;
    align-items: center;
    position: relative;
}
.voucherInfo{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    background-color: #fae4e7;
    margin: auto;
}
.cricle1{
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    right: -66px;
    z-index: 99;
}
.cricle3{
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    z-index: 99;
    position: absolute;
    right: 18px;
}
.discount{
    font-size: 26px;
    font-weight: 600;
    margin: -10px 0 -5px 0;
}
.conditions{
    display: flex;
    align-items: center;
    width: 68%;
    margin: auto;
    font-size: 13px;
    font-style: italic;
}
.st{
    background-color: #e9b7bd;
    border-radius: 10px;
    padding: 3px 3px;
    font-size: 12px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    cursor: pointer;
    margin-bottom: 5px;
    font-style: italic;
    margin-top: 3px;
}