.BodyHomeStore {
    width: 72%;
}

.BodyHomeStore_Item {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px;
    margin: 20px 0;
    height: fit-content;
    width: 100%;
}

.BodyHomeStore_Item:not(:first-child) {
    margin-top: 20px;
}

.BodyHomeStore .BodyHomeStore_Title {
    background-color: #BEDDDD;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 0 5px 20px;
    vertical-align: middle;
    border-radius: 4px 4px 0 0;
}

.BodyHomeStore_Content table th {
    padding-left: 20px;
}

.NeedWork_Item {
    display: grid;
    text-align: center;
}

.NeedWork_Item:hover {
    cursor: pointer;
    color: green;
}

.number {
    font-weight: 700;
}

.BodyHomeStore_Sales_Content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.Sales_Chart {
    width: 70%;
    padding: 20px;
}

.sales {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 25%;
}

.Sales_Item {
    display: flex;
    flex-direction: column;
    /* border-bottom: 1px solid #4ea58b75; */
}

.Sales_Item:first-child {
    border-bottom: 1px solid #4ea58b75;
    padding-bottom: 20px;
}

.compare {
    color: gray;
    font-style: italic;
    font-size: small;
}


