.StoreManage {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px;
    width: 72%;
    margin: 20px 0;
    height: fit-content;
}

.StoreManage .StoreManage_Title {
    background-color: #BEDDDD;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 0 5px 20px;
    vertical-align: middle;
    border-radius: 4px 4px 0 0;
}
.StoreManage .StoreManage_Title img {
  height: 100px;
}

.StoreManage_Content {
  padding: 0 20px;
}

.StoreInf {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.StoreInf .Edit_StoreInf {
  margin-right: 20px;
}

.StoreInf .Edit_StoreInf:hover {
  cursor: pointer;
  color: green;
}

.notlogin {
    background-color: #DFF4F6;
    padding: 0 calc(100vw/15);
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notlogin .Notification, .notlogin a {
    font-weight: 500;
    font-size: xx-large;
    text-decoration: none;
}

.notlogin a {
    color: #4EA58B;
    margin-left: 20px
}

.notlogin a:hover {
    color: green;
}
.rating{
    display: flex;
    padding: 10px;
    gap: 10px;
    border-radius: 10;
}
.rating  div{
    padding: 5px 20px;
        border: 0.1px solid green;
        cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2; /* Lớn hơn so với các phần tử khác */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .editForm {
    background-color: white;
    padding: 20px;
    z-index: 3; /* Lớn hơn so với overlay */
    display: flex;
    flex-direction: column;
    width: 40%;
  }

  .editForm h3 {
    text-align: center;
    color: rgba(78, 165, 139, 0.863);
  }
  
  .editForm input, .editForm select {
    margin-bottom: 20px;
  }

  .editForm button {
    text-transform: uppercase;
    font-weight: 500;
  }

  .btn_cancel {
    border: 1px solid rgba(78, 165, 139, 0.863) !important;
    background-color: rgba(78, 165, 139, 0.137) !important;
    color: rgba(78, 165, 139, 0.863) !important;
    margin-top: 20px;
  }

  .img_book {
    height: 100px;
  }

  .book {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .price {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .current_price {
    font-weight: 500;
    font-size: larger;
    color: #4EA58B;
  }

  .old_price {
    font-size: small;
    text-decoration: line-through;
    color: gray;
    margin-right: 10px;
  }

  .percent_discount {
    color: #4EA58B;
    background-color: #BEDDDD;
    border-radius: 4px;
    padding: 2px;
    font-size: small;
    font-weight: 500;
  }

  .avt_cus {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .name_cus {
    font-weight: 500;
  }

  .cus_inf {
    display: flex;
    flex-direction: column;
  }

  .cus_comment {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .icon_cmt {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .icon_cmt_child {
    display: flex;
    flex-direction: column;
    color: #4EA58B;
    margin-top: 10px;
    cursor: pointer;
  }

  .FormTitle {
    position: relative;
  }
  
  .CloseForm {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #000; /* Change the color as needed */
    font-size: 20px; /* Change the font size as needed */
  }

  .send_mess {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .send_mess button {
    padding: 10px !important;
    height: 50px;
  }

  .avt_store {
    display: flex;
    justify-content: center;
  }

  .icon:hover {
    cursor: pointer;
    color: green;
  }

  .StoreManage td, .StoreManage th {
    text-align: center !important;
  }

  .Store_inf {
    display: flex;
    margin: 10px 0;
  }

  .Store_inf h6 {
    width: 30%;
  }

  .form_nof {
    background-color: white;
    font-weight: 500;
    border-radius: 8px;
    padding: 10px;
    font-size: 30px;
  }

  .form_nof span {
    padding: 20px;
  }

  .btn {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-evenly;
    margin-top: 20px;
  }