.card_name{
    font-size: 17px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.card{
    display: flex;
}
.avatar_card{
    flex: 1;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-right: 20px;
    padding-top: 50px;
}
.img_card{
    height: 50px;
    border-radius: 50%;
}
.infor{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
}
.infor_title{

}
.address{
    height: 80px;
}
.infor_body{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.name_item{
    width: 240px;
}
.infor_item{
    display: flex;
    gap: 20px;
    align-items: center;
}
.card_icon{
    height: 25px;
    width: 25px;
}
.book_title{
    flex: 2;
    font-weight: 600;
    color: black;
}
.value_book{
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.desc_book{
    flex: 4;
}