.img_loading{
    height: 50px;
    display: flex;
    margin: auto;
    margin-top: 50px;
}
.chart{
    display: flex;
    margin: auto;
}
.pie{
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 11%;
}